// Custom styles.
/*背景图*/
body {
  background: url(../../custom/bg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*上下内边距*/
.main-inner,
.header-inner {
  padding: 0 16px;
  background: rgba(255,255,255,.6);
}
.content-wrap {
  padding-bottom: 12px;
}
/*标题段落间距*/
.posts-expand .post-meta {
  margin-bottom: 32px;
}
.brand {
  background-color: initial;
  color: #000;
}
.brand .site-title {
  padding-top: 12px;
  font-size: 24px;
  line-height: 46px;
  font-family: 'Lobster Two', 'Roboto Slab', "PingFang SC", "Microsoft YaHei", sans-serif
}